###Example config.toml for shinkro
###LogLevel can be set to any one of the following: "INFO", "ERROR", "DEBUG", "TRACE"
###LogMaxSize is in MB.

Host = "0.0.0.0"

Port = 7011

#BaseUrl = "/shinkro"

SessionSecret = "GENERATE_A_SECURE_32_CHARACTER_HEX_STRING"

EncryptionKey = "GENERATE_A_SECURE_64_CHARACTER_HEX_STRING"

LogLevel = "INFO"

#LogPath = "/path/to/logs/shinkro.log"

#LogMaxSize = 50

#LogMaxBackups = 3

CheckForUpdates = true